<h1>Book your flight</h1>

<div class= 'container'>
  <div class= 'search'>
    <%= render partial: 'search_form', locals: {cities: @cities, dates: @dates}%>
  </div>
</div>
<% if @flights %>
  <div class= 'container'>
    <div class= 'flights'>
      <%= render partial: 'flights_form', locals: {flights: @flights}%>
    </div>
  </div>
<% end %>