<h1>Booking completed</h1>

<%= render partial: 'shared/booking', locals: {booking: @booking} %>

<strong> Passengers: </strong>
<ol>
  <% @booking.passengers.each do |passenger| %>
    <li><%= passenger.name%> - <%= passenger.email %></li>
  <%end%>
</ol>
